<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Upcoming Glengarry Events!</div>
  

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Saturday, August 8th - Scramble Golf Tournament at Callipe Preserve in Pleasanton</li>
    <li class="list-group-item">Tuesday, August 15th, 7:00pm - Dinner at Bobo's on Lombard Street in SF </li>
  
  </ul>
</div>

<p>*E-Mail Ryan [ryan.mindigo@gmail.com] if you are interested in attending any of these events.</p>




