

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="http://placehold.it/50x50" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to user.name.capitalize, user %></h4>
    	<li> Joined <%= user.created_at.strftime("%m-%d-%y") %></li>
  </div>
</div>