
  <div class="col-md-3">

  	<h1>Profile Page</h1>

  	 <section class="users">
      <h5>
       
       <%= render @user  %>
      </h5>
    </section>

  </div>

  <div class="col-md-6">
   	<section class="show_posts">

		<%= render @user.posts %>

	</section>
  </div>
  
