<p>
	
<%= form_for @post do |f| %>

	<%= f.hidden_field :parent_id %>

	<div class="form-group">    
		<%= f.text_field :content, class: 'form-control', placeholder: "Share something here..." %> 
	</div>
	
	<div class="post_button">
		<%= f.submit "Post", class: "btn btn-info" %>
	</div>

<% end %>
	
</p>