

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/output/abstract-q-c-51-51-4.jpg" alt="...">
    </a>
  </div>
  <div class="media-body">
    <%= post.content %></br>
	<%= link_to time_ago_in_words(post.created_at), post_path(post) %> ago | <% from_reply_form ||= nil %>
<% unless from_reply_form %>
  <%= link_to 'reply', new_post_path(post.id) %>
<% end %>
  </div>
</div>

