@import "bootstrap";


/* universal */


body {
  padding-top: 60px;
}

.navbar {
	background-color: #EB4511;
	border: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
     

}

.center h1 {
  margin-bottom: 10px;
}

/* home page logged out */

.home {
  background-image: image-url('bently.jpg'); // link to /assets/images/monte_carlo.jpg
}


/* posts */

.media {
	padding: 10px 0;
	border-top: 1px solid #e8e8e8;
	margin-top: 10px;
}

.post_button {
	float: right;
}

.row {
	margin-top: 20px;
}

.replies {
	margin-left: 50px;
}

.media-body {
  font-family: Verdana;

}



#time_ago {
  color: #9DB4C0;
}

.details {
  color: #9DB4C0;
}

.style_image {
  border-radius: 50%;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FEFDFF;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#menu {
	color: #FEFDFF;
   font-family: Lucida Sans Unicode;
}

#menu:hover {
	color: #2BD9FE;
}

#drop {
   font-family: Lucida Sans Unicode;
}

.account {
  color: #FEFDFF;
  

}

.caret {
  color: #FFF;
}

/* home page */

.home-content {
  text-align: center;
  font-family: Lucida Sans Unicode;

}

.jumbotron {
  margin-top: 80px;
}

/* User sign in and sign up forms. */

.border-form-div {
  
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

 /* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* user show page */

.show_posts {
  margin-top: 78px;

}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

















